{% extends 'base.html' %}
{% load static %}  
{% block content %}

{% if success is True and search is not None %}
    <p class="text-center">Found {{postcount}} results for "{{search}}"</p>
{% elif success is True %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_4.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Stories</h1>
                <p class="breadcrumbs">
                    <span>
                        <a href="{% url 'core:home' %}">Home <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span>
                        <a href="{% url 'core:stories' %}">Stories <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span>
                        {% if category != "all" and tag == "all" %}
                        <a href="#">Category: {{category}} <i class="ion-ios-arrow-forward"></i></a>
                        {% elif category == "all" and tag != "all" %}
                        <a href="#">Tag: {{tag}} <i class="ion-ios-arrow-forward"></i></a>
                        {% elif category != "all" and tag != "all" %}
                        <a href="#">Category: {{category}}, Tag: {{tag}} <i class="ion-ios-arrow-forward"></i></a>
                        {% else %}
                        <a href="#">All <i class="ion-ios-arrow-forward"></i></a>
                        {% endif %}
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
            {% if success is True %}
                <div class="row">
                {% for post in page %}
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                            <a href="{% url 'core:detail' post.id%}" class="img-2"><img src="{{post.image.url}}" class="img-fluid"
                                                                     alt="Colorlib Template"></a>
                            <div class="text pt-3">
                                <p class="meta d-flex"><span class="pr-3">{{post.category}}</span><span class="ml-auto pl-3">{{post.created_at |date:"M d, Y"}}</span>
                                </p>
                                <h3><a href="{% url 'core:detail' post.id%}">{{post.title}}</a></h3>
                                <p class="mb-0"><a href="{% url 'core:detail' post.id%}" class="btn btn-black py-2">Read More <span
                                        class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                            {% if page.has_previous %}
                                <li><a href="?page=1&search={{search}}&category={{category}}&tag={{tag}}">&laquo;</a></li>
                                <li><a href="?page={{ page.previous_page_number }}&search={{search}}&category={{category}}&tag={{tag}}">&lt;</a></li>
                            {% endif %}

                            {% for i in page.paginator.page_range %}
                                    {% if page.number == i %}
                                        <li class="active">
                                            <span>{{i}}</span>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="?page={{i}}&search={{search}}&category={{category}}&tag={{tag}}">{{i}}</a>
                                        </li>
                                    {% endif %}
                            {% endfor %}

                            {% if page.has_next %}
                                <li><a href="?page={{ page.next_page_number }}&search={{search}}&category={{category}}&tag={{tag}}">&gt;</a></li>
                                <li><a href="?page={{ page.paginator.num_pages }}&search={{search}}&category={{category}}&tag={{tag}}">&raquo;</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center" style="margin-left: 20px">No results found for '{{search}}'</p>
            {% endif %}
            </div>

            <div class="col-lg-3">
                <div class="sidebar-wrap">
                    {% if user.is_authenticated %}
                    <div class="sidebar-box p-4 about text-center ftco-animate">
                        <h2 class="heading mb-4">About Me</h2>
                        {% if request.user.profile_pic %}
                        <img src="{{request.user.profile_pic.url}}" class="img-fluid" alt="Profile pic">
                        {% else %}
                        <img src="{% static 'images/profile.webp' %}" class="img-fluid" alt="Profile pic">
                        {% endif %}
                        <div class="text pt-4">
                            <p>{{ request.user.bio }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading mb-4 text-center ">Tag Cloud</h3>
                        <div class="tagcloud p-2 ">
                            {% for tag in tags %}
                            <a href="{% url 'core:stories'%}?tag={{tag.title}}" class="tag-cloud-link">{{tag.title}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% include 'includes/categories.html' %}
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-subscribe ftco-section bg-light">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-wrap text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>Subcribe to our Newsletter</span></h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                        is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-8">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}